html {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
/* ⬆⬆  sam added short html reset ⬆⬆ */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* margin-top: 5rem;   removal by sam */
	width: 100%;
	/* height: 10rem;   removal by sam */
}

input {
	margin: 5px;
	border: 2px, grey, solid;
	border-radius: 10px;
	padding: 7px;
	background-color: whitesmoke;
	color: slategray;
}
::placeholder {
	color: slategray;
}

select {
	border: 2px, grey, solid;
	border-radius: 10px;
	padding: 7px;
	background-color: whitesmoke;
	color: slategray;
}

button {
	border: 2px, grey, solid;
	border-radius: 10px;
	padding: 7px;
	background-color: whitesmoke;
	color: slategray;
}

.header-one {
	display: flex;
	margin-left: 3rem;
}

.welcome {
	margin-top: 4rem;
	margin-left: 2rem;
	display: flex;
	justify-content: left;
	font-size: 1.5rem;
}

.image {
	margin-top: 4rem;
	width: 100%;
}

.loading {
	font-size: 30px;
	text-align: center;
	margin: 50% auto;
}

ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: #1a2e40;
	/* background-color: #333; */
	display:flex;
	justify-content: space-between;
	align-items: center;
}

/* li {
	float: left;
} */

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;

	
}

li a:hover {
	/* background-color: #111; */
	/* sam added ⬇⬇ */
	background-color: wheat;
	color: black;
}

.main-heading {
	text-align: center;
	font-size: 28px;
}

.welcome-user {
	color: white;
	/* margin-right: 100px; */
	/* sam added ⬇⬇ */
	font-weight: bold;
}

/* sam's additions ⏬ */

body {
	margin:0 auto;
	min-height: 600px;
	background: url('./images/wheat.png') repeat fixed;
}

.main-app-header h1 {
	color:wheat;
	margin: 0;
	padding: 10px;
	text-shadow: 3px 3px 5px black;
}

.main-app-header .img-container {
	max-width: 100%;
	height: 350px;
	background: url('./images/market2000.jpg') no-repeat;
	border-top:5px solid #1a2e40;
	border-bottom:5px solid #1a2e40;
}

.main-app-container {
	padding: 15px;
	margin: 0 auto;
	width:100%;
	max-width: 1000px;
	min-height: 500px;
	background: rgba(245, 222, 179, 0.699);
	
}

footer {
	background: #866161;
	padding: 15px;
}