body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 5rem;
	width: 100%;
	height: 10rem;
}

input {
	margin: 5px;
	border: 2px, grey, solid;
	border-radius: 10px;
	padding: 7px;
	background-color: whitesmoke;
	color: slategray;
}
::placeholder {
	color: slategray;
}

select {
	border: 2px, grey, solid;
	border-radius: 10px;
	padding: 7px;
	background-color: whitesmoke;
	color: slategray;
}

button {
	border: 2px, grey, solid;
	border-radius: 10px;
	padding: 7px;
	background-color: whitesmoke;
	color: slategray;
}

.header-one {
	display: flex;
	margin-left: 3rem;
}

.welcome {
	margin-top: 4rem;
	margin-left: 2rem;
	display: flex;
	justify-content: left;
	font-size: 1.5rem;
}

.image {
	margin-top: 4rem;
	width: 100%;
}

.loading {
	font-size: 30px;
	text-align: center;
	margin: 50% auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	/* display: block; */
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;
}

li a:hover {
	background-color: #111;
}

.main-heading {
	text-align: center;
	font-size: 28px;
}

.welcome-user {
	color: white;
	margin-right: 100px;
}
