body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 5rem;
	width: 100%;
	height: 10rem;
}

input {
	margin: 5px;
	border: 2px, grey, solid;
	border-radius: 10px;
	padding: 7px;
	background-color: whitesmoke;
	color: slategray;
}
::placeholder {
	color: slategray;
}

select {
	border: 2px, grey, solid;
	border-radius: 10px;
	padding: 7px;
	background-color: whitesmoke;
	color: slategray;
}

button {
	border: 2px, grey, solid;
	border-radius: 10px;
	padding: 7px;
	background-color: whitesmoke;
	color: slategray;
}

.header-one {
	display: flex;
	margin-left: 3rem;
}

.welcome {
	margin-top: 4rem;
	margin-left: 2rem;
	display: flex;
	justify-content: left;
	font-size: 1.5rem;
}

.image {
	margin-top: 4rem;
	width: 100%;
}
