.item-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

} /* Added this style rule --sam */

.item-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
/* 	border: 1px solid purple;
 */	
	width: 30%;
	margin: 10px auto;

	/* added these rules ⬇⬇ --sam */
	border: 1px solid #866161;
	border-radius: 5px;
	background: floralwhite;
}

.item-card p, .item-card span{
	font-size: 22px;
	margin: 0;
	padding: 0;

}

.item-card p::first-letter {
	text-transform: capitalize;
}